* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.7;
    padding: 30px;
}
header {
    background-color: #1f2a44;
    color: white;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-container img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.logo-text {
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease, transform 0.3s ease;
}
nav ul li a:hover {
    color: #fd3908; 
    transform: translateY(-3px);
}

#sobre-mi {
    background-color: #ffffff;
    padding: 40px;
    margin-top: 50px;
    border-radius: 20px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sobre-mi h2 {
    color: #028090;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}
#sobre-mi p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.7;
    margin-bottom: 20px;
    max-width: 800px;
    text-align: center;
}
#sobre-mi blockquote {
    font-size: 1.1rem;
    font-style: italic;
    color: #64748B;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 800px;
    padding-left: 10px;
    border-left: 4px solid #028090;
}
.datos-personales {
    margin-top: 30px;
    background-color: #E1F5FF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.datos-personales h3 {
    color: #028090;
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: bold;
}
.datos-personales ul {
    list-style: none;
    padding: 0;
}
.datos-personales li {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
}
.datos-personales li strong {
    color: #028090;
}